* {
	box-sizing: border-box;
}

body {
	background-color: royalblue;
	font-family: "Verdana";
	font-size: 140%;
	margin: 0;
}

a {
	text-decoration: none;
}

a:visited {
	color: blue;
}

a:hover {
	color: red;
}

button {
	background-color: greenyellow;
	border: 1px solid black;
	font-size: 90%;
	padding: 7px;
	margin-top: 10px;
	border-radius: 15px;
	cursor: pointer;
}

button:hover {
	font-weight: bold;
}

input {
	font-size: 90%;
	margin-top: 10px;
	background-color: whitesmoke;
	border: 1px solid darkgray;
}

img.banner {
	display: table-cell;
	margin-left: 32.5%;
	margin-right: 32.5%;
	width: 35%;
}

div.main {
	background-color: white;
	padding: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

.big {
	font-size: 107%;
}

span.red_letters {
	color: red;
}


@media only screen and (max-width: 1100px) {
	div.main {
		margin-left: 0;
		margin-right: 0;
	}
}
